# {{ ansible_managed }}

server {
  # Redirect https to main domain
  listen 443 ssl{% if not p_nginx_126_plus and domain.nginx_http2%} http2{% endif %};
  {% if p_nginx_126_plus and domain.nginx_http2 %}http2 on;
{% endif %}

  server_name {{ domain.domains_redirected | join(' ') }}{% if domain.ssl_redirect_main_domain %} {{ domain.domains_secondary | join(' ') }}{% endif %};
  ssl_certificate {{ domain.ssl_certificate }};
  ssl_certificate_key {{ domain.ssl_certificate_key }};
  return {{ domain.ssl_redirect_code }} https://{{ domain.domain }}$request_uri;
}

{% if domain.ssl_redirect_main_domain %}
server {
  # Redirect http to main domain
  listen 80;
  server_name {{ domain.domain }} {{ domain.domains_redirected | join(' ') }} {{ domain.domains_secondary | join(' ') }};
  return {{ domain.ssl_redirect_code }} https://{{ domain.domain }}$request_uri;
}

{% else %}
server {
  # Redirect to main domain
  listen 80;
  server_name {{ domain.domains_redirected | join(' ') }};
  return {{ domain.ssl_redirect_code }} https://{{ domain.domain }}$request_uri;
}

server {
  listen 80;
  server_name {{ domain.domain }} {{ domain.domains_secondary | join(' ') }};
  root {{ domain.root_public }};

  {{ p_nginx_flags | indent(2) }}

  # domain.nginx_custom_server_before
  {{ domain.nginx_custom_server_before | default('') | indent(2) }}

  # _p_nginx_engine_server
  {{ _p_nginx_engine_server | indent(2) }}

  # domain.nginx_custom_server
  {{ domain.nginx_custom_server | default('') | indent(2) }}
}
{% endif %}

server {
  listen 443 ssl{% if not p_nginx_126_plus and domain.nginx_http2%} http2{% endif %};
  {% if p_nginx_126_plus and domain.nginx_http2 %}http2 on;
{% endif %}

  server_name {{ domain.domain }}{% if not domain.ssl_redirect_main_domain %} {{ domain.domains_secondary | join(' ') }}{% endif %};
  root {{ domain.root_public }};

  ssl_certificate {{ domain.ssl_certificate }};
  ssl_certificate_key {{ domain.ssl_certificate_key }};
  {% if domain.ssl_hsts %}add_header Strict-Transport-Security "max-age=15768000"; # HSTS{% endif %}


  {{ p_nginx_flags | indent(2) }}

  # domain.nginx_custom_server_before
  {{ domain.nginx_custom_server_before | default('') | indent(2) }}

  # _p_nginx_engine_server
  {{ _p_nginx_engine_server | indent(2) }}

  # domain.nginx_custom_server
  {{ domain.nginx_custom_server | default('') | indent(2) }}
}

# domain.nginx_custom_http
{{ domain.nginx_custom_http }}
